html {
  font-family: "Fredoka One", sans-serif;
}

main {
  background: repeating-linear-gradient(-30deg, #b3fbff, #c9fcff 20px, #d4fdff 20px);
  min-height: 500px;
  max-height: 500px;
}

.title {
  color: #990073;
  transform: rotate(-8deg);
  margin-left: -15px;
}

p, a {
  color: #c09;
  text-decoration: none;
}

p {
  max-width: 19em;
  transform: rotate(-5deg);
}

.title, p {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}

.btn-ghost {
  border-color: #990073;
}

.btn-ghost:hover {
  border-color: #990073;
}

.text-grid {
  transform-origin: left center;
  padding-left: 6%;
  animation: fading 3500ms linear;
}

@keyframes fading {

  0% {
    -webkit-filter: opacity(0);
  }

  50% {
    -webkit-filter: opacity(0);
  }

  100% {
    -webkit-filter: opacity(1);
    filter: blur(.5px);
  }

}

.image-grid {
  min-height: 480px;
}

.cone {
  transform: scale(.7);
  bottom: 100%;
  right: 35px;
  animation: falling-cone 500ms forwards linear;
}

.mint-chip {
  bottom: 100%;
  right: 20px;
  transform: scale(.7);
  animation: falling-mint 500ms forwards linear 500ms;
}

.chocolate-chip {
  bottom: 100%;
  right: 20px;
  transform: scale(.7);
  z-index: 1;
  animation: falling-chocolate 500ms forwards linear 1000ms;
}

.vanilla-fudge {
  bottom: 100%;
  right: 30px;
  transform: scale(.7);
  z-index: 2;
  animation: falling-fudge 500ms forwards linear 1500ms;
}

.cherry {
  bottom: 100%;
  right: 66px;
  transform: scale(.7);
  z-index: 3;
  animation: falling-cherry 500ms forwards linear 2000ms;
}

@keyframes falling-cone {

  0% {
    bottom: 100%;
  }

  100% {
    bottom: -52px;
  }

}

@keyframes falling-mint {

  0% {
    opacity: 0;
  }

  100% {
    bottom: 80px;
    opacity: 1;
  }

}

@keyframes falling-chocolate {

  0% {
    opacity: 0;
  }

  100% {
    bottom: 160px;
    opacity: 1;
  }

}

@keyframes falling-fudge {

  0% {
    opacity: 0;
  }

  100% {
    bottom: 235px;
    opacity: 1;
  }

}

@keyframes falling-cherry {

  0% {
    opacity: 0;
  }

  100% {
    bottom: 360px;
    opacity: 1;
  }

}
