html {
  font-family: "Fredoka One", sans-serif;
}

main {
  background: repeating-linear-gradient(-30deg, #b3fbff, #c9fcff 20px, #d4fdff 20px);
  min-height: 500px;
  max-height: 500px;
}

.title {
  color: #990073;
  transform: rotate(-8deg);
  margin-left: -15px;
}

p, a {
  color: #c09;
  text-decoration: none;
}

p {
  max-width: 19em;
  transform: rotate(-5deg);
}

.title {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}

.btn-ghost {
  border-color: #990073;
}

.btn-ghost:hover {
  border-color: #990073;
}

.text-box {
  transform-origin: left center;
  padding-left: 6%;
  animation: fading 3500ms linear;
}

@keyframes fading {

  0% {
    -webkit-filter: opacity(0);
  }

  50% {
    -webkit-filter: opacity(0);
  }

  100% {
    -webkit-filter: opacity(1);
    filter: blur(.5px);
  }

}

.image-frame {
  min-height: 480px;
}

.cone {
  transform: scale(.7);
  bottom: 100%;
  right: 35px;
  animation: cone-drop 500ms forwards linear;
}

.mint-chip {
  bottom: 100%;
  right: 35px;
  transform: scale(.7);
  animation: mint-drop 500ms forwards linear 500ms;

  /* name furation property easing delay */
}

.chocolate-chip {
  bottom: 100px;
  right: 30px;
  transform: scale(.7);
  z-index: 1;
  animation: chocolate-drop 500ms forwards linear 1000ms;
}

.vanilla-fudge {
  bottom: 100px;
  right: 35px;
  transform: scale(.7);
  z-index: 2;
  animation: fudge-drop 500ms forwards linear 1500ms;
}

.cherry {
  bottom: 100%;
  left: 745px;
  max-width: 55px;
  z-index: 4;
}

p {
  transform: scale(.7);
  bottom: 100%;
  right: 35px;
  animation: cone-drop 500ms forwards linear;

}

.btn-ghost {
  color: #c09;
  border: 3px solid #990073;
  top: 322px;
  left: 57px;
  border-radius: 5px;
}

.btn-ghost:hover {
  color: #c09;
  border: 3px solid #990073;
  background: #b3fbff;
}

.cherry {
  top: 20px;
  left: 745px;
  max-width: 55px;
  z-index: 4;
}


.mint-chip {
  top: 225px;
  left: 728px;
  max-width: 140px;
  z-index: 1;
}

@keyframes forward {

  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(70px);
  }

}

@media only screen and (min-width: 38em) {

  .banner {
    padding-top: 2em;
  }

}

@media only screen and (min-width: 90em) {

  h1 {
    left: 215px;
  }

  p {
    left: 230px;
  }

  .btn {
    left: 215px;
  }

  .cherry {
    left: 290px;
  }

  .vanilla-fudge {
    left: 945px;
  }

  .chocolate-chip {
    left: 945px;
  }

  .mint-chip {
    left: 948px;
  }

  .cone {
    left: 945px;
  }

}
